* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #bc76fd;
    padding: 16px 0;
    color: white;
    display: flex;
    border-bottom: 5px solid #8c27eb;
    justify-content: center;
    text-transform:  uppercase;
}

header button {
    margin-left: 16px;
}

form {
    background-color: antiquewhite;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: greenyellow;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(37, 37, 37);
}

#botao_cancelar {
    background-color: rgb(219, 20, 113);
    
}

ul {
    display: flex;
    flex-wrap: wrap; 
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-imagem-link a {
    color: wheat;
    text-decoration: none;
}
ul li:hover .overlay-imagem-link {
    opacity: 1;
}